.wrapper {
  display: grid;
  grid-template-columns: 1fr 4rem;
  align-items: center;
  margin-bottom: 1rem;
  padding-left: 4rem;
}

.container {
  display: flex;
  grid-column: 1/2;
  grid-row: 1/2;
  align-items: center;
  position: relative;
  padding-left: 3.5rem;
  font-size: 2.2rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  &:hover > button{
    opacity: 1;
  }
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  left: 0;
  height: 2.5rem;
  width: 2.5rem;
  background-color: #eee;
  border: 1px solid #bdc3c7;
  cursor: pointer;

}

/* On mouse-over, add a grey background color */
.container:hover input~.checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked~.checkmark {
  background-color: #2ecc71;
  border: 1px solid #27ae60;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  cursor: pointer;

}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: .9rem;
  top: .5rem;
  width: .5rem;
  height: 1rem;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.info_container {
  display: flex;
  position: relative;
  margin-left: 2rem;
  &:hover .info_block {
    visibility: visible;
    opacity: 1;
    z-index: 1000;
  }
}

.checkTitle{
  display: flex;
  align-items: center;
}


.info_block {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  font-size: 1.4rem;
  left: 0;
  top: 0;
  padding: 1rem;
  padding-left: 3rem;
  border: 1px solid #bdc3c7;
  background: #fff;
  min-width: 5rem;
  max-width: 30rem;
  width: max-content;
  z-index: 1;
  transition: all .3s;
  &:hover {
    z-index: 1000;
    visibility: visible;
    opacity: 1;
  }
}