.wrapper {
  display: flex;
  grid-column: 2/3; 
  grid-row: 2/-1;
  flex-direction: column;

}

.header {
  display: flex;
  align-items: center;
  position: relative;
  padding: 2rem; 
  &:hover button{
    opacity: 1;
  }
}

.heading {
  font-size: 2rem;
  text-transform: uppercase;
  color: #1e90ff;
  grid-column: 1/2;
  grid-row: 1/2;
  margin-right: 2rem;
}

.menu {  
    height: 2.5rem;
    padding: .5rem;
    font-size: 1.6rem;
    border: none;
    transition: all .2s; 
    opacity: 0;
    background: #fff;
    cursor: pointer;
}

.icon {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;

  & path {
    fill: #666;
  }
}

.noTopic{
  display: flex;
  justify-content: center;
  padding-top: 20rem;
  width: 100%;
  &_heading{
    color: cornflowerblue
  }
}