.wrapper{
  display: flex;
  flex-direction: column; 
  grid-row: 1/-1;
  grid-column: 1/2;
  background: rgb(51,51,51);
}

.noBoard{
  color: #fff;
  background: red;
  height: 100%;
  grid-row: 1/-1;
}