
.menu{
  width: 30rem; 
  overflow: hidden;
  list-style: none;
}

.item{
  border-top: 1px solid #2980b9; 
  overflow: hidden;
}

.item:active {
  height: auto; 
}

.btnAc{
  display: flex;
  align-items: center; 
  padding: 16px 20px; 
  background: #3498db; 
  color: white;
  font-size: 1.6rem;
  position: relative; 
}

.btnAc::before{
  content: "";
  width: 1.4rem; 
  height: 1.4rem;
  position: absolute;
  background: #3498db; 
  left: 2rem; 
  bottom: -7px; 
  transform: rotate(45deg); 
}

.iconAc {
  width: 2rem;
  height: 2rem;
  & path{
      fill: currentColor;
  }
  margin-right: 1rem; 
}

.smenu{
  background: #333;
  overflow: hidden;
  transition: max-height .7s;
  max-height: 0; 
}

.smenu li{
  &:first-child{
      margin-top: 1rem;
  }
  &:last-child{
    margin-bottom: 1rem;
  }
  display: block; 
  padding: 1.6rem 2.6rem; 
  color: white; 
  font-size: 1.4rem; 
  position: relative;
  z-index: 5;
  backface-visibility: hidden;
}

.smenuItemIitle{
  position: relative;
  z-index: 100; 
}

.smenuItem::before{
  content: ""; 
  width: 6px; 
  height: 100%;
  position: absolute; 
  top: 0;
  left: 0;
  background: #2980b9;
  z-index: 1;
  transform: scale(0);
  transition: transform .2s, width .4s cubic-bezier(1,0,0,1) .2s;
}

.smenuItem:hover::before{
  transform: scale(1);
  width: 100%;
  position: absolute;
}

.activeAc{ 
  max-height: 20em; 
}

.board_background{
  background:#ccc;
  color: #000; 

&::before{
  content: "";
  width: 1.4rem; 
  height: 1.4rem;
  position: absolute;
  background:#ccc;
  color: #000; 
  left: 2rem; 
  bottom: -7px; 
  transform: rotate(45deg); 
}
}

.topic_background{
  background: #2980b9;
  }

