.wrapper{
  padding: 1rem 2rem;
  padding-bottom: 10rem;
}

.loading{
  width: 20rem;
  padding-left: 4rem;
  margin-bottom: 1rem;
  display: flex;
}

.loader{
  font-size: 4px; 
  margin: 0.5rem 1rem;
}